{% extends "base.html" %}

{% block start_main %}


    <div class="container">
        <div class="form-container">

            <form method="post">
                {% csrf_token %}
                <!-- Task Name -->
                <div class="mb-3">
                    <input name="TaskId" type="hidden" class="form-control" id="taskid"  value={{task.id}}>
                </div>
                <div class="mb-3">
                    <label for="taskName" class="form-label">Task Name (max 50)</label>
                    <input name="TaskName" type="text" class="form-control" id="taskName" value={{task.TaskName}} placeholder="Enter task name" required>
                </div>

                <!-- Task Description -->
                <div class="mb-3">
                    <label for="taskDescription" class="form-label">Task Description (max 100)</label>
                    <textarea name="TaskDec" class="form-control" id="taskDescription" rows="3" placeholder="Enter task details" required>{{task.TaskDescription}}</textarea>
                </div>

                <!-- Deadline Date & Time -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="deadlineDate" class="form-label">Deadline Date</label>
                        <input name="DeadLine" value={{task.DeadlineDate}} type="date" class="form-control"  id="deadlineDate" required>
                    </div>
                    <div class="col-md-6">
                        <label for="deadlineTime" class="form-label">Deadline Time</label>
                        <input name="DeadTime" value={{task.DeadlineTime}} type="time" class="form-control" id="deadlineTime" required>
                    </div>
                </div>

                <!-- Category & Priority -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="taskCategory" class="form-label">Category</label>
                        <select name="Category" class="form-select" id="taskCategory" required>
                            <option selected value={{task.TaskCategory}}>{{task.TaskCategory}}</option>
                            <option value="Work">Work</option>
                            <option value="Personal">Personal</option>
                            <option value="Study">Study</option>
                            <option value="Health">Health</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="taskPriority" class="form-label">Priority</label>
                        <select name="Label" name="Priority" class="form-select" id="taskPriority" required>
                            <option selected value={{task.Label}}>{{task.Label}}</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href='/dashboard'><button type="button" class="btn btn-secondary" >Back</button></a>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form> 
        </div>
    </div>
<div>



{% endblock start_main %}
